@import "../variables";

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: $max-board-width;

  .board-container {
    margin-left: 0;
    margin-right: 0;
    background: transparent;
    align-self: center;
    padding: 0 10px;
    overflow: hidden;

    &.slot-3 {
      max-height: $max-board-height-3 + 40px;
      width: $max-board-height-3 + 60px;

      @media (max-width: $breakpoint-sm) {
        max-height: $max-board-m-height-3 + 40px;
        max-width: 100%;
        width: 100vw;
      }
    }

    &.slot-4 {
      max-height: $max-board-height-4 + 20px;
      width: $max-board-height-4 + 60px;

      @media (max-width: $breakpoint-sm) {
        max-height: $max-board-m-height-4 + 20px;
        max-width: 100%;
        width: 100vw;
      }
    }

    &.slot-5 {
      max-height: $max-board-height-5 + 20px;
      width: 80vw;
      max-width: $max-board-width;

      @media (max-width: $breakpoint-sm) {
        max-height: $max-board-m-height-5 + 20px;
        max-width: 100%;
        width: 100vw;
      }
    }
  }
}

.slot {
  width: 100%;
  float: left;
  padding: 0 0.5em;

  @media (max-width: $breakpoint-xs) {
    padding: 0;
  }
}

.slot-title {
  height: 90px;
  max-width: $breakpoint-xs;

  @media (max-width: $breakpoint-xs) {
    width: 90%;
    height: auto;
  }
}

.reel-container {

  &.slot-3 {
    height: $max-board-height-3 + 20px;

    @media (max-width: $breakpoint-sm) {
      height: $max-board-m-height-3 + 20px;
    }
  }

  &.slot-4 {
    height: $max-board-height-4 + 20px;

    @media (max-width: $breakpoint-sm) {
      height: $max-board-m-height-4 + 20px;
    }
  }

  &.slot-5 {
    height: $max-board-height-5 + 20px;

    @media (max-width: $breakpoint-sm) {
      height: $max-board-m-height-5 + 20px;
    }
  }
}

.slot__window {
  //background-color: rgba($black, 0.3);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  max-width: $reel-max-width;
  width: 90%;
  min-height: 120px;
  overflow: hidden;

  @media (max-width: $breakpoint-xs) {
    width: 100%;
    background-size: cover;
  }

  &.slot-3 {
    max-height: $max-board-height-3;

    @media (max-width: $breakpoint-sm) {
      max-height: $max-board-m-height-3;
    }
  }

  &.slot-4 {
    max-height: $max-board-height-4;

    @media (max-width: $breakpoint-sm) {
      max-height: $max-board-m-height-4
    }
  }

  &.slot-5 {
    max-height: $max-board-height-5 + 20;

    @media (max-width: $breakpoint-sm) {
      max-height: $max-board-m-height-5 + 20;
    }
  }
}

.slot__item {
  margin-top: 40px;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: transparent;
  color: black;

  @media (max-width: $breakpoint-sm) {
    margin-top: 12px;
  }

  &.slot-3 {
    line-height: $slot-height-3;

    @media (max-width: $breakpoint-sm) {
      line-height: $slot-m-height-3;
    }
  }

  &.slot-4 {
    line-height: $slot-height-4;

    @media (max-width: $breakpoint-sm) {
      line-height: $slot-m-height-4;
    }
  }

  &.slot-5 {
    line-height: $slot-height-5;

    @media (max-width: $breakpoint-sm) {
      line-height: $slot-m-height-5;
    }
  }

}

.col-c5 {
  position: relative;
  width: 100%;
  flex: 0 0 20%;
  max-width: 20%;
}
