@import '../variables';

.control-panel {
  width: 100vw;
  background-color: rgba($black, 0.6);

  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  &.slot-3 {
    width: $max-board-height-3 + 90px;

    @media (max-width: $breakpoint-xs) {
      max-width: 100%;
    }
  }

  &.slot-4 {
    width: $max-board-height-4 + 90px;

    @media (max-width: $breakpoint-xs) {
      max-width: 100%;
    }
  }

  &.slot-5 {
    width: $max-board-height-5 + 90px;

    @media (max-width: $breakpoint-xs) {
      max-width: 100%;
    }
  }

  .pure-button {
    min-width: 160px;
  }

  .pure-control-group {
    display: inline-block;
  }

  .auto-spin-input {
    max-width: 80px;
  }
}


