@import "../variables";

.slot__symbol-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: $slot-height;
  background-repeat: no-repeat;
  background-position: center;

  img {
    height: calc(#{$slot-height} - 20px);
  }

  .symbol__helper {

  }
}