@import "../variables";

.slot__symbol-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.slot-3 {
    height: $slot-height-3;

    @media (max-width: $breakpoint-xs) {
      height: $slot-m-height-3;
    }
  }

  &.slot-4 {
    height: $slot-height-4;

    @media (max-width: $breakpoint-xs) {
      height: $slot-m-height-4;
    }
  }

  &.slot-5 {
    height: $slot-height-5;

    @media (max-width: $breakpoint-xs) {
      height: $slot-m-height-5;
    }
  }

  &.slot__winning-symbol {
    //background-color: rgba($black, 0.6);
    //border-radius: 5px;
  }

  .slot__winning-amount {
    color: $white;
    font-size: 26px;
    font-weight: bold;
    animation: glow 1000ms ease-in-out infinite alternate;

    @media (max-width: $breakpoint-xs) {
      font-size: 16px;
    }
  }
}

