@import "variables";

.slot {
  float: left;
  margin: 0.4em;
}

.slot__window {
  background-color: #444;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.slot__wrap {
}

.slot__item {
  margin-top: 20px;
  height: $slot-height;
  width: 180px;
  padding: 0 10px;

  text-align: center;
  background-color: #ccc;
  color: black;

  line-height: $slot-height;
}

.slot__item--copy {
}