$slot-height-3: 110px;
$slot-height-4: 110px;
$slot-height-5: 110px;

$slot-m-height-3: 110px;
$slot-m-height-4: 110px;
$slot-m-height-5: 110px;

$white: #FFFFFF;
$black: #000000;
$yellow: #ffff00;
$light-grey: #d7d7d7;
$dark-grey: #333333;


// BREAKPOINTS
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

// BOARD
$max-board-width: $breakpoint-md;
$max-board-height-3: (($slot-height-3 + 20px) * 3);
$max-board-height-4: (($slot-height-4 + 20px) * 4);
$max-board-height-5: (($slot-height-5 + 20px) * 5);

$max-board-m-height-3: (($slot-m-height-3 + 20px) * 3);
$max-board-m-height-4: (($slot-m-height-4 + 20px) * 4);
$max-board-m-height-5: (($slot-m-height-5 + 20px) * 5);
